/*general styles*/

ul {
  list-style: none;
}
h2 {
  margin-left: 40px;
  color: #707070;
}
h3 {
  color: #707070;
}
article {
  display: inline-block;
  width: 300px;
}

/*header styles*/
header {
  background-color: #ffffff;
  height: 150px;
  max-width: 1640px;
  width: 87%;
  margin-right: auto;
  margin-left: auto;
}
header img {
  width: 100px;
  display: inline-block;
}
nav a {
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  display: inline-block;
}
nav li {
  display: inline-block;
}
.navabr-a {
  color: #707070;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 20px;
}
nav {
  display: inline-block;
  margin-left: 400px;
}
/* section style*/
section {
  background-color: #00000029;
  max-width: 1640px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
article p {
  color: #707070;
}
article {
  text-decoration: none;
  padding-left: 40px;
  padding-right: 60px;
}

a {
  text-decoration: none;
  color: #707070;
}

/*footer styles*/
footer {
  padding: 20px 20px;
  background-color: #2e2e2e;
  height: 80px;
  border: 0px;
  margin-bottom: 0%;
}
footer {
  color: #f2f2f2;
  max-width: 1640px;
  width: 87%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

footer img {
  width: 43px;
  height: 43.95px;
}

.section-1 img {
  max-width: 1640px;
  width: 100%;
}

.footer-logo {
  width: 100px;
  height: 80px;
}
div {
  display: inline-block;
  margin-left: 20px;
}

a {
  padding-left: 40px;
}
.section-2 article {
  max-width: 200px;
}
img {
  width: 300px;
}

.section-3 article {
  max-width: 200px;
}
img {
  width: 300px;
}
.load-more {
  margin-left: 500px;
}
